<h1>Bill Lookup</h1>

{{#if isSelected}}
  <form {{action 'submitForm' on="submit"}}>
    <label for="zipcode">Enter Bill Name</label>
    {{input value=query}}
    <button type="submit" name="button">Submit</button>
    <button type="button" {{action 'showForm'}}>Undo</button>
  </form>
{{else}}
  <button type="button" {{action 'showForm'}}>Look For A Bill</button>
{{/if}}
